<div class="card bg-white mb-3 shadow">

  <div class="card-body p-4">
    <h1><%= link_to post.title.truncate(70), post_path(post), class: 'text-dark' %></h1>
    <div class="text-muted mb-2">
      <em>Por <%= post.author %> (<%= l(post.created_at, format: :long) %>) </em>
    </div>
    <p>
      <%= post.body.to_plain_text.truncate(250) %>
    </p> 
    <p class="text-muted">
      <%= pluralize(post.comments.count, 'Comentário') %> 
    </p>
    <div class="align-items-center">
      <%= button_to "Ler Artigo", post_path(post), method: 'get', class: 'button-outline mb-0' %>
      <% if @current_user_name == post.author %>
        <%= link_to "Editar", edit_post_path(post), class: 'btn btn-secondary' %>
        <%= link_to "Apagar", post, method: :delete, class: 'btn btn-danger',
          data: { confirm: 'Você tem certeza?' }
        %>
      <% end%>
    </div>
  </div>
</div>


