<%= render "search" %>
  <% if @posts.count == 0 %>
    <div class="card bg-light mb-3">
      <div class="card-body p-4">
        <h2>Seja o primeiro a publicar....</h2><br>
          <% if current_user.nil? %>
            <%= link_to "Cadastre-se", new_user_registration_path, class: 'button' %>  
            <%= link_to "Entrar", new_user_session_path, class: 'button button-outline' %>
          <% end %>
      </div>
    </div>
  <% else%>
    <%= render @posts.order(created_at: :desc) %> <br>
    <%= paginate @posts %>
  <% end %>


