<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css'>
    <link href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css' rel='stylesheet'>
    <title>Blog</title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'actiontext', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class='d-flex flex-column min-vh-100'>
    <% if user_signed_in? %>
      <%= auto_session_timeout_js %>
    <% end %>
    <nav class='bg-dark text-center sticky-top text-white mb-5 p-2 shadow'>
      <%= link_to root_path, class: 'text-white' do %>
        <h1 class='display-4 fw-light pt-2'>Stack<span class='fw-bold'> Overfórum</span></h1>
        <p class='lead'> 
          <em>
            A primeira plataforma brasileira, pública e colaborativa sobre programação.
          </em>
        </p>
      <% end %>
        <div class='float-right pe-3 fs-4 text-muted'>
          <% if user_signed_in? %>
            <p class='fw-light fs-4'>Logado como <span class='fw-bold'><%= current_user.email %></span>
              <%= link_to '', edit_user_registration_path, class: 'text-white icon-user px-1' %>  |
              <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'text-white px-1'%>
            <% else %>
              <%= link_to 'Cadastre-se', new_user_registration_path, class: 'text-white px-1' %>  |
              <%= link_to 'Entrar', new_user_session_path, class: 'text-white px-1' %>
            <% end %>
           </p>
      </div>
    </nav>


    <div class='container col-md-10 col-lg-8'>
      <% flash.each do |type, message| %>
        <div class='alert alert-<%= type == 'alert' ? 'danger' : 'success' %> alert-dismissible fade show' role='alert'>
          <%= message %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <footer class='bg-dark text-center sticky-bottom mt-auto text-white mt-5 p-4'>
      Copyright © <a href='https://www.marcosportodev.com/' class='text-white fs-5'>Marcos Porto </a> <%= Date.current.year %>
    </footer>

  </body>
</html>
